<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aleksandr Sumaneev | SpurIT homework</title>
    
    
    {{content_for_header}}

    <link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}" />

    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>


  </head>
  <body>
    {% section 'alternate-header' %}
    {{content_for_layout}}
    {% section 'alternate-footer' %}
    
    <div class="visually-hidden" aria-hidden="true">
      <div id="size">size</div>
      <div id="color">color</div>
      <div id="available-colors">available colors</div>
    </div>
    
  </body>
</html>
