<aside class="aside">
  <section class="more-goods">

    {% if section.settings.alternate_product_recomendations_title != blank %}
      <h2 class="more-goods__heading">{{ section.settings.alternate_product_recomendations_title }}</h2>
    {% endif %}


    <ul class="more-goods__list" role="list">
      
      {% for card in section.settings.alternate_product_recomendations_collection.products limit: section.settings.alternate_product_recomendations_limit %}
      <li class="more-goods__item">
        {% render "alternate-product-card", card: card %} 
      </li>
      {% endfor %}
      
    </ul>
  </section>
</aside>


{% schema %}
  {
    "name": "Alternate recomendations",
    "settings": [
      {
        "type": "text",
        "id": "alternate_product_recomendations_title",
        "label": "Title",
        "default": "You may also like"
      },
      {
        "type": "collection",
        "id": "alternate_product_recomendations_collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "alternate_product_recomendations_limit",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "product limit",
        "default": 6
      }
    ],
    "presets": [
      {
        "name": "Alternate recomendations",
        "settings": {
            "alternate_product_recomendations_title": "Lorem ipsum",
            "alternate_product_recomendations_collection": "",
            "alternate_product_recomendations_limit": 4
        }
      }
    ]
  }
{% endschema %}
