/* main start */

.main {
  max-width: var(--desktop-large-size);
  margin: 0 auto;
  
}

.product {
  padding: 16px;
}

@media (min-width: 1024px) {
  .product {
    padding: 32px 0 16px 0;
  }
}

@media (min-width: 1024px) {
  .product__container {
    display: grid;
    grid-template-columns: 7fr 4fr;
    gap: 70px;
    padding: 0 136px 0 104px;
  }
}

@media (min-width: 1024px) {
  .product__gallery {
    padding-right: 15px;
  }
}

.product__image {
  display: block;
  width: 100%;
  max-width: 473px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .product__info {
    width: 100%;
    padding-left: 2px;
  }
}

.product__heading {
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.01em;
}

@media (min-width: 1024px) {
  .product__heading {
    margin-top: 0;
  }
}

.product__price {
  margin: 24px 0;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.product__tax {
  color: var(--color-tertiary-1);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.product__desctiption > p {
  margin: 22px 0;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.01em;
}

@media (min-width: 1024px) {
  .product__desctiption {
    margin: 22px 22px 22px 0;
  }
}

.product__form {
  margin: 48px 0 46px;
}

.product-form__fieldset {
  margin: 24px 0;
  border: none;
}

.product-form__legend {
  margin-bottom: 12px;
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.product-form__legend--ls {
  letter-spacing: 1px;
}

.product-form__radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.radio__container {
  position: relative;
  display: flex;
  margin-right: 12px;
}

.radio__input {
  appearance: none;
}

.radio__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid var(--color-disabled-1);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .radio__label {
    width: 40px;
    height: 40px;
  }
}

.radio__label:hover {
  border: 1px solid var(--color-primary);
}

.radio__input:checked ~ .radio__label {
  border: 2px solid var(--color-black);
}

.radio__input:focus-visible ~ .radio__label {
  outline: 2px solid var(--color-primary);
}

.radio__input:disabled ~ .radio__label {
  color: var(--color-black);
  background: #f2f2f2;
  border: none;
  cursor: default;
}

.radio__input:disabled ~ .radio__label::after {
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: var(--color-disabled-1);
  transform: rotate(-45deg);
  content: '';
}

.legend__current-color {
  text-transform: capitalize;
}

.radio__label--color {
  color: transparent;
  font-size: 0;
}

.label__color {
  position: absolute;
  inset: 2px;
}

.label__color--white {
  border: 1px solid var(--color-disabled-1);
}

.label__color--black {
  background: var(--color-black);
}

.label__color--dark-gray {
  background: #aeaeb0;
}

.label__color--dark-gray {
  background: #aeaeb0;
}

.label__color--purple-latte {
  background: #ba9be5;
}

.label__color--mauvelous {
  background: #e9a0a7;
}

.label__color--apricot {
  background: #f8cab1;
}

.radio__label--color:hover > .label__title {
  position: absolute;
  top: -16px;
  left: 30px;
  z-index: 1;
  width: auto;
  padding: 3px 4px;
  color: var(--color-tertiary-1);
  font-size: 13px;
  line-height: 1.23;
  white-space: nowrap;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid #ccc;
}

.product-form__number-input-container {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.product-form__button {
  display: inline-block;
  padding: 15px 32px;
  color: var(--color-tertiary-1);
  font-weight: 400;
  font-size: 14px;
  font-family: inherit;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid var(--color-disabled-1);
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.product-form__button:hover {
  color: var(--color-black);
  background-color: var(--color-disabled-1);
  border: 1px solid var(--color-primary);
}

.product-form__button:active {
  background-color: var(--color-disabled-2);
}

.product-form__button--small {
  min-width: 40px;
  padding: 9px 0;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
}

.product-form__button--submit {
  margin-top: 11px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.product-form__number-input {
  display: inline-block;
  max-width: 40px;
  padding: 9px 0;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  font-style: normal;
  line-height: 1;
  text-align: center;
  border: none;
  border-top: 1px solid var(--color-disabled-1);
  border-bottom: 1px solid var(--color-disabled-1);
  border-radius: 0;
  appearance: textfield;
}

.product-form__number-input::-webkit-inner-spin-button,
.product-form__number-input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.product-form__order-button {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

/* Accordion start */

.product__accordion {
  margin-top: 26px;
}

.product-accordion__container {
  border-top: 1px solid var(--color-disabled-1);
  border-left: none;
}

.product-accordion__container:last-child {
  border-bottom: 1px solid var(--color-disabled-1);
}

.product-accordion__heading {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 32px 0;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.product-accordion__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  background-color: transparent;
  border: none;
  cursor: inherit;
}

.product-accordion__button-icon-container {
  position: relative;
  width: 12px;
  height: 12px;
}

.product-accordion__button-icon {
  position: absolute;
  top: 5.5px;
  z-index: 1;
  width: 12px;
  height: 1px;
  background-color: var(--color-black);
}

.product-accordion__button-icon::after {
  position: absolute;
  top: -5.5px;
  left: 5.5px;
  z-index: 2;
  width: 1px;
  height: 12px;
  background-color: var(--color-black);
  transform: none;
  content: '';
}

.product-accordion__button--open
  > .product-accordion__button-icon
  > .product-accordion__button-icon::after {
  transform: rotate(90deg);
}

.product-accordion__text {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.01em;
}

.product-accordion__text--close {
  display: none;
}

/* Accordion end */

.article__footer {
  margin-top: 40px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .article__footer {
    margin-top: 100px;
    margin-top: 98px;
    margin-bottom: 90px;
  }
}

.more-goods {
  width: 100%;
  max-width: 1184px;
  margin: 3rem auto;

}

.more-goods__heading {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.01em;
  text-align: center;
}

.more-goods__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

@media (min-width: 480px) {
  .more-goods__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
  }
}

@media (min-width: 1024px) {
  .more-goods__list {
    margin-top: 64px;
  }
}

.more-goods__item {
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .more-goods__item {
    margin-top: 0;
  }
}

.more-goods__link {
  position: relative;
  display: block;
  color: var(--color-black);
  text-decoration: none;
  outline: none;
}

.more-goods__link:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.more-goods__link:focus-visible .more-goods__image,
.more-goods__link:hover .more-goods__image {
  transform: scale(1.02, 1.02);
}

.more-goods__image {
  display: block;
  width: 100%;
  max-width: 248px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.more-goods__heading {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
}

.more-goods__colors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
  list-style: none;
}

.more-goods__color {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  color: transparent;
  font-size: 0;
  border: 2px solid #fff;
}

.more-goods__color:last-child {
  margin-right: 0;
}

.more-goods__color--raw-sienna {
  background-color: #c88252;
}

.more-goods__color--apricot {
  background-color: #f8cab1;
}

.more-goods__color--mauvelous {
  background-color: #e9a0a7;
}

.more-goods__color--bright-lavender {
  background-color: #ba9be5;
}

.more-goods__sold {
  position: absolute;
  top: 8px;
  left: 12px;
  padding: 3px 5px 4px;
  color: var(--color-tertiary-1);
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 1.23;
  background-color: #fff;
}

.more-goods__price {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
}

/* main end */